#dmca-info {
    .container{
        .section-h {
            color: var(--ink);
            text-align: center;
        }
        .lead {
            .signature {
                float: inline-end;
            }
        }
    }
}