.company_info {
  border-spacing: 0;
}

.company_info, .company_info tbody, .company_info tr, .company_info th, .company_info td {
  display: block;
  width: 100%;
}

.company_info tr {
  margin: 0 0 1.2rem;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: .6rem;
}

.company_info th {
  text-align: left;
  text-align-last: left;
  margin-bottom: .2rem;
  font-weight: 600;
  color: #475569;
}

.company_info td {
  font-weight: 400;
}
