/* thin */
@font-face {
    font-family: 'LINESeedJP';
    src: url('./LINESeedJP_OTF_Th.woff2') format('woff');
    font-weight: 100;
    font-style: thin;
}

/* nomal */
@font-face {
    font-family: 'LINESeedJP';
    src: url('./LINESeedJP_OTF_Rg.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* bold */
@font-face {
    font-family: 'LINESeedJP';
    src: url('./LINESeedJP_OTF_Bd.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* normal-italic*/
@font-face {
    font-family: 'LINESeedJP';
    src: url('./LINESeedJP_OTF_Eb.woff2') format('woff');
    font-weight: 800;
    font-style: normal;
}